In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import tree

In [58]:
df = pd.read_csv("/Users/adithya/OneDrive/NTU/Y3S2/MDP/Image-Distance.csv")
# df = df[['num_blocks', 'offset (L is positive)', "x", "y", "image_w", "image_h"]]

In [59]:
df.describe()

,dist,offset,conf,x,y,w,h
count,18.000000,18.000000,37.000000,37.000000,37.000000,37.000000,37.000000
mean,0.500000,0.000000,0.931052,279.027027,305.567568,84.540541,88.351351
std,0.514496,0.840168,0.111541,186.551227,5.885673,32.469297,39.394879
min,0.000000,-1.000000,0.556586,-5.000000,298.000000,32.000000,35.000000
25%,0.000000,-1.000000,0.937550,132.000000,301.000000,54.000000,52.000000
50%,0.500000,0.000000,0.975988,257.000000,303.000000,87.000000,85.000000
75%,1.000000,1.000000,0.988330,436.000000,310.000000,106.000000,112.000000
max,1.000000,1.000000,0.996410,614.000000,319.000000,151.000000,165.000000

In [60]:
df = df.replace(np.nan, 100)
df["dist"] = df["dist"].astype('category')
df["offset"] = df["offset"].astype('category')
df

          label   dist offset      conf    x    y    w    h
0        blue_y    0.0    1.0  0.956237   -5  311  126  165
1        blue_y    0.0    0.0  0.972180  210  298  140  158
2        blue_y    0.0   -1.0  0.939862  464  302  117  139
3        blue_y    1.0    1.0  0.989676   85  303  112  109
4        blue_y    1.0    0.0  0.989932  257  302  106  112
5        blue_y    1.0   -1.0  0.988026  423  299  103  112
6        blue_y  100.0  100.0  0.963577  160  300   52   52
7        blue_y  100.0  100.0  0.988330  150  305   72   74
8        blue_y  100.0  100.0  0.962619  614  299   87  105
9        blue_y  100.0  100.0  0.977928  404  301   50   52
10       blue_y  100.0  100.0  0.981394   94  307   66   58
11       blue_y  100.0  100.0  0.556586  268  300   45   36
12       blue_y  100.0  100.0  0.931135  447  300   47   36
13     white_up    0.0    1.0  0.991320    0  308   93  133
14     white_up    0.0    0.0  0.988455  214  304  130  145
15     white_up    0.0   -1.0  0.984053  452  301  151  149
16     white_up    1.0    1.0  0.988483   89  311   86   93
17     white_up    1.0    0.0  0.995706  261  303   93  107
18     white_up    1.0   -1.0  0.992104  433  302   92  106
19     white_up  100.0  100.0  0.975988   22  307   70   74
20     white_up  100.0  100.0  0.953083  132  306   54   46
21     white_up  100.0  100.0  0.592565  326  300   41   36
22     white_up  100.0  100.0  0.625760  393  299   35   41
23     white_up  100.0  100.0  0.996410  550  306   77   72
24     white_up  100.0  100.0  0.982852  605  312   95   85
25  green_seven    0.0    1.0  0.937550    3  315   93  136
26  green_seven    0.0    0.0  0.978302  207  317  128  126
27  green_seven    0.0   -1.0  0.994781  466  313  133  130
28  green_seven    1.0    1.0  0.971089   89  319  106   79
29  green_seven    1.0    0.0  0.931400  251  316  102   73
30  green_seven    1.0   -1.0  0.895413  436  303   84  100
31  green_seven  100.0  100.0  0.963556   24  310   71   67
32  green_seven  100.0  100.0  0.984327  195  307   58   57
33  green_seven  100.0  100.0  0.930798  326  303   32   37
34  green_seven  100.0  100.0  0.983177  601  315   96   89
35  green_seven  100.0  100.0  0.794143  472  301   49   45
36  green_seven  100.0  100.0  0.820138  206  301   36   35

In [61]:
df["aspect_ratio"] = df["w"] / df["h"]
df.describe()

            conf           x           y           w           h  aspect_ratio
count  37.000000   37.000000   37.000000   37.000000   37.000000     37.000000
mean    0.931052  279.027027  305.567568   84.540541   88.351351      0.996004
std     0.111541  186.551227    5.885673   32.469297   39.394879      0.165159
min     0.556586   -5.000000  298.000000   32.000000   35.000000      0.683824
25%     0.937550  132.000000  301.000000   54.000000   52.000000      0.869159
50%     0.975988  257.000000  303.000000   87.000000   85.000000      1.000000
75%     0.988330  436.000000  310.000000  106.000000  112.000000      1.078652
max     0.996410  614.000000  319.000000  151.000000  165.000000      1.397260

In [72]:
# df = df.sample(frac = 1)

X = df[["x", "y", "w", "h"]]

Y = df [["dist", "offset"]].astype("category")


X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

# Y1 = df["num_blocks"]
# Y2 = df["offset (L is positive)"]
len (X_train), len(X_test), len(Y_train), len(Y_test)

(29, 8, 29, 8)

In [73]:
Y.describe()

         dist  offset
count    37.0    37.0
unique    3.0     4.0
top     100.0   100.0
freq     19.0    19.0

## Random Forest

In [74]:
clf1 = RandomForestClassifier()
clf2 = RandomForestClassifier()

clf1.fit(X_train, Y_train["dist"])
clf2.fit(X_train, Y_train["offset"])

RandomForestClassifier()

In [75]:
clf1.score(X_train, Y_train["dist"]), clf2.score(X_train, Y_train["offset"])

(1.0, 1.0)

In [76]:
clf1.score(X_test, Y_test["dist"]), clf2.score(X_test, Y_test["offset"])

(1.0, 1.0)

In [77]:
list(zip(Y["dist"], clf1.predict(X)))

[(0.0, 0.0),
 (0.0, 0.0),
 (0.0, 0.0),
 (1.0, 1.0),
 (1.0, 1.0),
 (1.0, 1.0),
 (100.0, 100.0),
 (100.0, 100.0),
 (100.0, 100.0),
 (100.0, 100.0),
 (100.0, 100.0),
 (100.0, 100.0),
 (100.0, 100.0),
 (0.0, 0.0),
 (0.0, 0.0),
 (0.0, 0.0),
 (1.0, 1.0),
 (1.0, 1.0),
 (1.0, 1.0),
 (100.0, 100.0),
 (100.0, 100.0),
 (100.0, 100.0),
 (100.0, 100.0),
 (100.0, 100.0),
 (100.0, 100.0),
 (0.0, 0.0),
 (0.0, 0.0),
 (0.0, 0.0),
 (1.0, 1.0),
 (1.0, 1.0),
 (1.0, 1.0),
 (100.0, 100.0),
 (100.0, 100.0),
 (100.0, 100.0),
 (100.0, 100.0),
 (100.0, 100.0),
 (100.0, 100.0)]

In [78]:
list(zip(Y["offset"], clf2.predict(X)))

[(1.0, 1.0),
 (0.0, 0.0),
 (-1.0, -1.0),
 (1.0, 1.0),
 (0.0, 0.0),
 (-1.0, -1.0),
 (100.0, 100.0),
 (100.0, 100.0),
 (100.0, 100.0),
 (100.0, 100.0),
 (100.0, 100.0),
 (100.0, 100.0),
 (100.0, 100.0),
 (1.0, 1.0),
 (0.0, 0.0),
 (-1.0, -1.0),
 (1.0, 1.0),
 (0.0, 0.0),
 (-1.0, -1.0),
 (100.0, 100.0),
 (100.0, 100.0),
 (100.0, 100.0),
 (100.0, 100.0),
 (100.0, 100.0),
 (100.0, 100.0),
 (1.0, 1.0),
 (0.0, 0.0),
 (-1.0, -1.0),
 (1.0, 1.0),
 (0.0, 0.0),
 (-1.0, -1.0),
 (100.0, 100.0),
 (100.0, 100.0),
 (100.0, 100.0),
 (100.0, 100.0),
 (100.0, 100.0),
 (100.0, 100.0)]

In [79]:
clf1 = RandomForestClassifier()
clf2 = RandomForestClassifier()

clf1.fit(X, Y["dist"])
clf2.fit(X, Y["offset"])

RandomForestClassifier()

In [80]:
clf1.score(X, Y["dist"]), clf2.score(X, Y["offset"])

(1.0, 1.0)

In [71]:
pickle.dump(clf1, open("model_num_blocks.pkl", "wb"))
pickle.dump(clf2, open("model_offset.pkl", "wb") )

## Loading Model

In [125]:
model1 = pickle.load(open("model_num_blocks.pkl", "rb"))
model2 = pickle.load(open("model_offset.pkl", "rb"))

In [127]:
x = np.array([100, 240, 116, 94])
x = x.reshape(1, -1)

model1.predict(x)[0], model2.predict(x)[0]

(2, 1)

In [129]:
model1.score(X, Y["num_blocks"]), model2.score(X, Y["offset (L is positive)"])

(0.8771929824561403, 0.9298245614035088)

In [130]:
model1.score(X_train, Y_train["num_blocks"]), model2.score(X_train, Y_train["offset (L is positive)"])

(1.0, 1.0)

In [131]:
model1.score(X_test, Y_test["num_blocks"]), model2.score(X_test, Y_test["offset (L is positive)"])

(0.4166666666666667, 0.6666666666666666)

In [ ]:
## Others

In [135]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression().fit(X_train, Y_train["num_blocks"])

/Users/adithya/opt/anaconda3/envs/py36/lib/python3.6/site-packages/sklearn/linear_model/_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [136]:
clf.score(X_train, Y_train["num_blocks"]), clf.score(X_test, Y_test["num_blocks"])

(0.8888888888888888, 0.4166666666666667)

In [137]:
clf.score(X_train, Y_train["offset (L is positive)"]), clf.score(X_test, Y_test["offset (L is positive)"])

(0.06666666666666667, 0.0)

## Neural Network

In [40]:
maximum = {col:max(X_train[col]) for col in X_train}
minimum = {col:min(X_train[col]) for col in X_train}

maximum, minimum

({'x': 678.0, 'y': 260.0, 'image_w': 227.0, 'image_h': 178.0},
 {'x': -3.0, 'y': 225.0, 'image_w': 25.0, 'image_h': 24.0})

In [41]:
for col in X_train:
    X_train["norm_"+col] = (X_train[col]-minimum[col])/(maximum[col]-minimum[col])
    X_test["norm_"+col] = (X_test[col]-minimum[col])/(maximum[col]-minimum[col])

/Users/adithya/opt/anaconda3/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/adithya/opt/anaconda3/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [42]:
X_train.describe()

,x,y,image_w,image_h,norm_x,norm_y,norm_image_w,norm_image_h
count,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000
mean,329.555556,248.133333,65.244444,58.400000,0.488334,0.660952,0.199230,0.223377
std,203.903448,9.039308,38.562320,34.032338,0.299418,0.258266,0.190903,0.220989
min,-3.000000,225.000000,25.000000,24.000000,0.000000,0.000000,0.000000,0.000000
25%,176.000000,241.000000,43.000000,35.000000,0.262849,0.457143,0.089109,0.071429
50%,315.000000,252.000000,50.000000,42.000000,0.466960,0.771429,0.123762,0.116883
75%,481.000000,255.000000,73.000000,76.000000,0.710720,0.857143,0.237624,0.337662
max,678.000000,260.000000,227.000000,178.000000,1.000000,1.000000,1.000000,1.000000

In [43]:
X_test.describe()

,x,y,image_w,image_h,norm_x,norm_y,norm_image_w,norm_image_h
count,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000
mean,270.416667,248.416667,62.083333,59.583333,0.401493,0.669048,0.183581,0.231061
std,201.149631,9.605475,26.698513,38.407997,0.295374,0.274442,0.132171,0.249403
min,-3.000000,221.000000,33.000000,27.000000,0.000000,-0.114286,0.039604,0.019481
25%,136.000000,247.000000,50.250000,41.250000,0.204112,0.628571,0.125000,0.112013
50%,232.000000,251.000000,56.500000,47.500000,0.345081,0.742857,0.155941,0.152597
75%,432.250000,253.250000,63.750000,62.000000,0.639134,0.807143,0.191832,0.246753
max,586.000000,257.000000,138.000000,174.000000,0.864905,0.914286,0.559406,0.974026

In [47]:
from tensorflow.keras.utils import to_categorical

to_categorical(Y_train.num_blocks)

array([[0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0.]], dtype=float32)